<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.clazz.mapper.ClazzMapper">
    <resultMap id="ClazzMap" type="Clazz">
        <id property="clazzId" column="clazz_id"/>
        <result property="clazzName" column="clazz_name"/>
        <result property="clazzDate" column="clazz_date"/>
        <result property="clazzGrade" column="clazz_grade"/>
        <result property="teacherId" column="clazz_teacher_id"/>
        <result property="professionId" column="clazz_profession_id"/>
    </resultMap>
    <update id="add" parameterType="Clazz">
        insert into t_clazz (clazz_id,clazz_name,clazz_date,clazz_grade,clazz_teacher_id,clazz_profession_id)
        values(#{clazzId},#{clazzName},#{clazzDate},#{clazzGrade},#{teacherId},#{professionId})
    </update>
    <update id="edit" parameterType="Clazz">
        update t_clazz set clazz_name=#{clazzName},clazz_date=#{clazzDate},clazz_grade=#{clazzGrade},
                           clazz_teacher_id=#{teacherId},clazz_profession_id=#{professionId}
        where clazz_id=#{clazzId}
    </update>
    <update id="delete" parameterType="String">
        delete from t_clazz where clazz_id in (${_value});
    </update>
    <select id="getTotal" parameterType="Map" resultType="Integer">
       select  count(clazz_id) from t_clazz where 1=1
        <if test="clazzName!=null">
            and clazz_name like #{clazzName}
        </if>
        <if test="clazzId!=null">
            and clazz_id like #{clazzId}
        </if>
    </select>
    <select id="findAll" resultMap="ClazzMap">
        select * from t_clazz where 1=1
    </select>
    <select id="findList" parameterType="Map" resultMap="ClazzMap">
        select * from t_clazz where 1=1
       <if test="clazzId!=null">
           and clazz_id like #{clazzId}
       </if>
        <if test="clazzName!=null">
            and clazz_name like #{clazzName}
        </if>
        order by clazz_id
       limit #{offset},#{pageSize}
    </select>
    <select id="ifProfessionExist" parameterType="String" resultType="Integer">
        select count(clazz_id) from t_clazz where clazz_profession_id = #{professionId}
    </select>
    <select id="ifTeacherExist" parameterType="String" resultType="Integer">
        select count(clazz_id) from t_clazz where clazz_teacher_id = #{teacherId}
    </select>

</mapper>